# Ignore node_modules (local and parent directory)
node_modules

# Ignore IntelliJ/WebStorm project configuration folder
.idea

# Ignore compiled files and logs
*.log
*.idea/*
*.iml
*.iws
.env


# Ignore Editor-based HTTP Client requests
/httpRequests/
/img
opimin.js
