<!--Error page template-->
<!--Borrowed structure from:-->
<!--https://bootstrapexamples.com/@valeria/404-page-template-2-->

<div>
    <div class="text-warning error-page <%= helper %>">
        <div class="d-flex align-items-center justify-content-center min-vh-100 px-2">
            <div class="text-center">
                <h1 class="fw-bold"><%= header %></h1>
                <p class="fs-2 fw-medium mt-4"><%= title %></p>
                <p class="mt-4 mb-5"><%= message %></p>
                <a href="/" class="btn btn-warning fw-semibold rounded-pill px-4 py-2">
                    Go Home
                </a>
            </div>
        </div>
    </div>
</div>
