<!--Render register page form-->
<%- include("chunks/form-wrapper") %>
<div>
    <p class="text-light">
      Don't have account yet?<br>
      Register <a class="text-warning" href="/register">here</a>
    </p>
</div>
<% scripts = `
<script type="module">
   import showPopup from "./js/popup.js";
   import {changePasswordVisibility} from "./js/changePasswordVisibility.js";
   changePasswordVisibility();

   const urlParams = new URLSearchParams(window.location.search);
   if (urlParams.has("error")) {
        showPopup("Wrong email or password. Please check them and try again", "error", "center", 6);
   }
</script>
`; %>